
body{
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------------- Navbar ----------------------------------------------*/
.navbar{
    background-color: #fc8f9f;

}
.navbar-brand{
    color: white;
    font-size: 25px;
}
.nav-link{
    color: white;
    margin: 0 10px;
}



/*--------------------------------------- Header -------------------------------------*/
#header{
    background-color: #fc8f9f;
    /* #ff9eac */
}

.row slogan{
    margin-top: 150px;
}

.slogan h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

.slogan button{
    margin-right: 20px;
}

.container-fluid{
    padding: 3% 15%;
}



/* ------------------------------------Features ---------------------------------*/
#features{
    padding: 5% 15% 2% 15%;
}

.feature-box{
    text-align: center;
}

.feature-box p{
    padding-bottom: 5%;
    font-family: monospace;
}



/* ------------------------------testimonials -------------------------------------*/
#testimonials{
    padding: 7% 15% 4% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img{
    width: 20%;
    border-radius: 100%;
}

.row-testimonial{
    padding-top: 5%;
}



/* -----------------------------------press ----------------------------------*/
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

#press img{
    margin: 0% 2%;
}


/*----------------------------------- card --------------------------------------*/
#card{
    padding: 4% 15%;
}
.card-column{
   padding:  2% 2%;
   text-align: center;
}
.card-column h3{
    font-size: 20px;
    font-family: monospace;
}

.card img {
    width: 100%;
    height: auto;
}


/* ----------------------------------------description ------------------------------------*/
#description{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
    font-weight: bold;
}

#description .btn{
    margin-top: 50px;
}

/* --------------------------------------footer --------------------------------------*/
#footer{
    padding: 7% 15%;
    text-align: center;
}

#footer .icon{
    margin: 20px 10px;
}























/* .navbar{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 1;

}
.navbar-brand ,.nav-link{
    color: white;
}

.navbar-brand:hover, .nav-link:hover{
    color: white;
}




.header img{
    max-width: auto; */
    /* background-size: cover;
    background-repeat: repeat;
    height: 90vh;
    width: 100%;
    filter: brightness(60%);
}
.header .container h1{
    position: absolute;
    margin-top: 15%;
    margin-left: 55%;
    font-family: 'Work Sans', sans-serif ;
    font-weight: 100;
    font-size: 6rem;
    color: white;
    z-index: 1;
}*/




/* --------------------------here------------------ */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card-img{
    width: 225px;
    overflow: hidden;
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px
}

.card-content h3 {
    font-size: 25px;
    margin-bottom: 8px;
}






/* .feedback {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

}
.feedback h1{
    color: white;
}
.feed-wall img{
    width: 100%;
    height: 30vh;
    position: relative;
}

.feedback-container{
    color: white;
    width: 225px;
    overflow: hidden;
    margin: 20px;


}  */
